Comments from Gunter Van de Velde

----------------------------------------------------------------------
COMMENT:
----------------------------------------------------------------------

# Gunter Van de Velde, RTG AD, comments for
draft-ietf-dmarc-aggregate-reporting-28

# The line numbers used are rendered from IETF idnits tool:
[https://urldefense.com/v3/__https://author-tools.ietf.org/api/idnits?url=https:**Awww.ietf.org*archive*id*draft-ietf-dmarc-aggregate-reporting-28.txt__;Ly8vLy8!!CQl3mcHX2A!DLYO9r6i-6SzqMMucqOKg_SC1-MyS06wo4yH__SJpg4ONmN7I7wXahu-CW9v0CYBKfrodIreIZb36Wf__LI$](https://urldefense.com/v3/__https:/author-tools.ietf.org/api/idnits?url=https:**Awww.ietf.org*archive*id*draft-ietf-dmarc-aggregate-reporting-28.txt__;Ly8vLy8!!CQl3mcHX2A!DLYO9r6i-6SzqMMucqOKg_SC1-MyS06wo4yH__SJpg4ONmN7I7wXahu-CW9v0CYBKfrodIreIZb36Wf__LI$) 

# DMARC isn't really my area of expertise, so this review comes from a network generalist perspective. Some of my comments might be due to not fully understanding the technology; just something to keep in mind!

# following you find some non-blocking comments.

# General Review
# ==============

## I noticed that the word "Mail" is sometimes written with an uppercase M and other times in lowercase. Additionally, "email" is used in some places. Was this intentional? Would it make sense to standardize it and simply use "mail"
throughout for consistency?

## idnits identifies few downrefs. The shepherd report suggest that only
RFC6713 is not in the downref register, however it seems that RFC7489 may also not be in there ([https://urldefense.com/v3/__https://datatracker.ietf.org/doc/downref/__;!!CQl3mcHX2A!DLYO9r6i-6SzqMMucqOKg_SC1-MyS06wo4yH__SJpg4ONmN7I7wXahu-CW9v0CYBKfrodIreIZb3SiI1CxU$](https://urldefense.com/v3/__https:/datatracker.ietf.org/doc/downref/__;!!CQl3mcHX2A!DLYO9r6i-6SzqMMucqOKg_SC1-MyS06wo4yH__SJpg4ONmN7I7wXahu-CW9v0CYBKfrodIreIZb3SiI1CxU$) ) and is an ISE document. The last call did call out the 3 downrefs.

# Detailed Review
# ===============

167        The report may include the following data:

GV> next a list of metadata included. Would it be useful to add usage 
GV> structure
for these? For example:

Report ID
* Reporting Organization (ISP, mail receiver)
* Date range covered by the report

Email Authentication Results:
* SPF (Sender Policy Framework) alignment status
* DKIM (DomainKeys Identified Mail) alignment status
* DMARC policy result (pass/fail)

Sending Source Details:
* IP addresses of sending servers
* Number of messages sent from each IP
* Reverse DNS information of the sending IP

Policy Evaluation:
* The applied DMARC policy (none, quarantine, or reject)
* How many emails were accepted, rejected, or quarantined
* Alignment failures and reasons

Domain Alignment Check:
* Whether the SPF and DKIM domains align with the From: domain

597        1.  A signature that passes DKIM, in strict alignment with the
598            RFC5322.From domain
599        2.  A signature that passes DKIM, in relaxed alignment with the
600            RFC5322.From domain

GV> idnit or clarification. Not sure what "RFC5322.From domain" wants to
specify? Is this a typo or copy/paste glitch?

789        mail.receiver.example!example.com!1013662812!1013749130.xml.gz
790        No specific MIME message structure is required.  It is presumed that

GV> idnit or clarification. Should this maybe read as:
There is no specific MIME message structure required with mail.receiver.example!example.com!1013662812!1013749130.xml.gz

Kind Regards,
Gunter Van de Velde
Routing Area Director