Review items from Eric Vyncke

Éric Vyncke has entered the following ballot position for
draft-ietf-dmarc-aggregate-reporting-27: Discuss

When responding, please keep the subject line intact and reply to all email addresses included in the To and CC lines. (Feel free to cut this introductory paragraph, however.)


Please refer to [https://urldefense.com/v3/__https://www.ietf.org/about/groups/iesg/statements/handling-ballot-positions/__;!!CQl3mcHX2A!EVGJr7LO0dHhAt1Fir_5rUnZvsgk7EvuVm97YRQFBodOaZlGi6CWcuHnwleFrRXjquHiUjGA1Hg4JZr1PY0$](https://urldefense.com/v3/__https:/www.ietf.org/about/groups/iesg/statements/handling-ballot-positions/__;!!CQl3mcHX2A!EVGJr7LO0dHhAt1Fir_5rUnZvsgk7EvuVm97YRQFBodOaZlGi6CWcuHnwleFrRXjquHiUjGA1Hg4JZr1PY0$)
for more information about how to handle DISCUSS and COMMENT positions.


The document, along with other ballot positions, can be found here:
[https://urldefense.com/v3/__https://datatracker.ietf.org/doc/draft-ietf-dmarc-aggregate-reporting/__;!!CQl3mcHX2A!EVGJr7LO0dHhAt1Fir_5rUnZvsgk7EvuVm97YRQFBodOaZlGi6CWcuHnwleFrRXjquHiUjGA1Hg4lRH-Hjo$](https://urldefense.com/v3/__https:/datatracker.ietf.org/doc/draft-ietf-dmarc-aggregate-reporting/__;!!CQl3mcHX2A!EVGJr7LO0dHhAt1Fir_5rUnZvsgk7EvuVm97YRQFBodOaZlGi6CWcuHnwleFrRXjquHiUjGA1Hg4lRH-Hjo$) 



----------------------------------------------------------------------
DISCUSS:
----------------------------------------------------------------------


# Éric Vyncke, INT AD, comments for draft-ietf-dmarc-aggregate-reporting-27
CC @evyncke

Thank you for the work put into this document.

Please find below one blocking DISCUSS points (easy to address), some non-blocking COMMENT points (but replies would be appreciated even if only for my own education).

Special thanks to Barry Leiba for the shepherd's write-up including the WG consensus *and* the justification of the intended status.

Please note that Anthony Somerset is the DNS directorate reviewer and you may want to consider this dns-dir review as well when it will be available (no need to wait for it though):
[https://urldefense.com/v3/__https://datatracker.ietf.org/doc/draft-ietf-dmarc-aggregate-reporting/reviewrequest/21440/__;!!CQl3mcHX2A!EVGJr7LO0dHhAt1Fir_5rUnZvsgk7EvuVm97YRQFBodOaZlGi6CWcuHnwleFrRXjquHiUjGA1Hg4kZWyYAQ$](https://urldefense.com/v3/__https:/datatracker.ietf.org/doc/draft-ietf-dmarc-aggregate-reporting/reviewrequest/21440/__;!!CQl3mcHX2A!EVGJr7LO0dHhAt1Fir_5rUnZvsgk7EvuVm97YRQFBodOaZlGi6CWcuHnwleFrRXjquHiUjGA1Hg4kZWyYAQ$) 

I hope that this review helps to improve the document,

Regards,

-éric

## DISCUSS (blocking)

As noted in [https://urldefense.com/v3/__https://www.ietf.org/blog/handling-iesg-ballot-positions/__;!!CQl3mcHX2A!EVGJr7LO0dHhAt1Fir_5rUnZvsgk7EvuVm97YRQFBodOaZlGi6CWcuHnwleFrRXjquHiUjGA1Hg4Q-mip8c$](https://urldefense.com/v3/__https:/www.ietf.org/blog/handling-iesg-ballot-positions/__;!!CQl3mcHX2A!EVGJr7LO0dHhAt1Fir_5rUnZvsgk7EvuVm97YRQFBodOaZlGi6CWcuHnwleFrRXjquHiUjGA1Hg4Q-mip8c$) , a DISCUSS ballot is just a request to have a discussion on the following topics:

### Appendix B

Please do not use RFC 1918 IP addresses such as `192.168.4.4`, but one of the documentation prefixes, e.g., "2001:db8::cafe"

Please use an example FQDN, i.e.,
[s/report_sender@example-reporter.com/report_sender@reporter.example.com/](mailto:s/report_sender@example-reporter.com/report_sender@reporter.example.com/)


----------------------------------------------------------------------
COMMENT:
----------------------------------------------------------------------


## COMMENTS (non-blocking)

### Abstract

It is unclear to me what is meant by `as supported by the receiver`.

s/replaces [RFC7489]/obsoletes and replaces [RFC7489]/

### Section 1

Suggest repeating the expansion for "DMARC".

s/to request that receivers/to request that e-mail receivers/ ? (see further)

### Section 2

Suggest to be consistent in the naming "Mail Receivers" (to be preferred) or "mail receivers" or "receivers".

### Section 2.1.1.8

What is a `The connecting IP`? I only know about "The connecting IP address"
also valid for s/source_ip/source_ip_address/ (probably too late to change the element name).

### Section 2.1.1.10

Where is "RFC5322.From" defined ? I can guess it of course, but let's be accurate.

Should be resolved in -28