Comments from Roman Danyliw

----------------------------------------------------------------------
DISCUSS:
----------------------------------------------------------------------

** Please include normative references for the different formal languages used in this document (i.e., schema and ABNF)

-- Section 2.1.1 and Appendix A.
   The format for these reports is defined in the XML Schema Definition
   (XSD) in Appendix A.

Please provide a normative reference to XSD.  Perhaps:

   [W3C.SCHEMA]
              Thompson, H., Beech, D., Maloney, M., and N. Mendelsohn,
              "XML Schema Part 1: Structures Second Edition", W3C
              Recommendation REC-xmlschema-1-20041028, October 2004,
              <[https://urldefense.com/v3/__http://www.w3.org/TR/xmlschema-1/__;!!CQl3mcHX2A!HxEIPOcoWA2n8PybYAw3A4KCs8z31wUqIbwAv3PqZUQBhwnGbzJjmqn8vDUzeTBpypCRG33AaARjPpdaLFg$ ](https://urldefense.com/v3/__http:/www.w3.org/TR/xmlschema-1/__;!!CQl3mcHX2A!HxEIPOcoWA2n8PybYAw3A4KCs8z31wUqIbwAv3PqZUQBhwnGbzJjmqn8vDUzeTBpypCRG33AaARjPpdaLFg$%20)>.

   [W3C.SCHEMA.DTYPES]
              Biron, P. and A. Malhotra, "XML Schema Part 2: Datatypes
              Second Edition", W3C Recommendation REC-xmlschema-
              2-20041028, October 2004,
              <[https://urldefense.com/v3/__http://www.w3.org/TR/xmlschema-2/__;!!CQl3mcHX2A!HxEIPOcoWA2n8PybYAw3A4KCs8z31wUqIbwAv3PqZUQBhwnGbzJjmqn8vDUzeTBpypCRG33AaARjAtMMeqs$ ](https://urldefense.com/v3/__http:/www.w3.org/TR/xmlschema-2/__;!!CQl3mcHX2A!HxEIPOcoWA2n8PybYAw3A4KCs8z31wUqIbwAv3PqZUQBhwnGbzJjmqn8vDUzeTBpypCRG33AaARjAtMMeqs$%20)>.

-- Section 2.5.1 and 2.5.2

   The RFC5322.Subject field for individual report submissions MUST
   conform to the following ABNF:

Please provide a normative reference for ABNF.  Perhaps:

   [RFC5234]  Crocker, D., Ed. and P. Overell, "Augmented BNF for Syntax
              Specifications: ABNF", STD 68, RFC 5234,
              DOI 10.17487/RFC5234, January 2008,
              <[https://urldefense.com/v3/__https://www.rfc-editor.org/rfc/rfc5234__;!!CQl3mcHX2A!HxEIPOcoWA2n8PybYAw3A4KCs8z31wUqIbwAv3PqZUQBhwnGbzJjmqn8vDUzeTBpypCRG33AaARjmWOgvSU$ ](https://urldefense.com/v3/__https:/www.rfc-editor.org/rfc/rfc5234__;!!CQl3mcHX2A!HxEIPOcoWA2n8PybYAw3A4KCs8z31wUqIbwAv3PqZUQBhwnGbzJjmqn8vDUzeTBpypCRG33AaARjmWOgvSU$%20)>.

** human_result.  It appears that there is at least one data element (human_result per Sections 2.1.1.12 and 2.1.1.13) which is intended to be a human readable string.  Per Section 4 of RFC2277 saying “protocols that transfer text MUST provide for carrying information about the language of that text”, what is the approach prescribed by this specification?  Should an xs:lang attribute be added to the human_result element?


----------------------------------------------------------------------
COMMENT:
----------------------------------------------------------------------

** Given how [I-D.ietf-dmarc-dmarcbis] is cited numerous times to provide clarity for normative guidance, why is it an informative reference?

** From idnits:
  ** The abstract seems to contain references ([RFC7489],
     [I-D.ietf-dmarc-dmarcbis], [I-D.ietf-dmarc-failure-reporting]), which it
     shouldn't.  Please replace those with straight textual mentions of the
     documents in question.

** Section 6.3.  Editorial.
   This leakage could
   potentially be utilized as part of a program of pervasive
   surveillance (see [RFC7624]]).

The extra “]]” is causing an idnits error.